<div class="infobar">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p>Vinn tur til New York</p>
        <p>Svar på tre spørsmål og bli med i trekningen</p>
      </div>
      <div class="swiper-slide">
        <p>Rask levering: 1-4 virkedager*</p>
        <p>Gratis shipping på alle kjøp over 500,-</p>
      </div>
    </div>
  </div>
</div>

