<div class="menu">
  <%= image_tag "logo.svg", class: "logo", alt: "Stacy's Passion" %>
  <%#= render "spree/shared/cart" %>
  <%#= render "spree/shared/taxonomies" %>
  <%= render "spree/shared/footer" %>
</div>

